auto-save-list
backups
*~
#*
#.gnus#

#*#
.#*
.places
session.*
emacs.d/history
emacs.d/tramp
emacs.d/smex-items
emacs.d/recentf
tramp
elpa
swank
emms
history
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/

